@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.franchiseecards {
  box-sizing: border-box;
  font-family: "Lato", Arial, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 10px;
  height: 24rem;
  width: 100%;
  background-color: var(--darkblue);
  color: #2b2b2b;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  vertical-align: top;
  border-radius: 2rem;
  padding-left: 10px;
}

.franchiseecards h3 {
  font-family: "Oswald";
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
  color: var(--primarygreen);
  padding-top: 20px;
  padding-bottom: 20px;
}

.sub {
  display: flex;
}
.subfranchiseecards {
  padding: 17px;
  background-color: white;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  color: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

.subfranchcards {
  width: 24rem;
  padding-left: 20px;
  background-color: white;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  color: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between ;
  padding-right: 20px;
  margin-right: 200px;
  margin-left: 450px;
  height: 16rem;
}

.subfranchcards h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: var(--darkblue);
  margin-bottom: 0px;
  padding-bottom: 5px;
  text-align: justify;
}


