@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Mate+SC&family=Raleway&family=Roboto:wght@500&family=Source+Sans+Pro:wght@300;600&family=Squada+One&display=swap");


.main-div {
  width: 100%;
  padding: 25px 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;

}

.main-div h5{
    font-family: "Bitter", serif;
    font-weight: 700; 
 
}

.main-heading {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 20px 0 20px 20px;
  background: var(--darkblue);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: ease .5s;
}

/* .main-heading:hover{
  background-color: red;
} */

.main-heading:first-child {
  margin-top: 0;
}

.main-heading h3 {
  margin-left: 30px;
  font-family: "Mate SC", serif;
  color: white;
  font-family: "Raleway", sans-serif;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.main-heading p {
  cursor: pointer;
  border-radius: 50%;

}

.answers {
  padding: 30px 20px 40px 20px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  word-spacing: 2px;
  font-weight: 400;
  line-height: 1.7;
  background: white;
  color: var(--primarygreen);
  font-weight: 600;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}