.heading {
  padding-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--darkblue);
  position: relative;
}

.heading:after {
  content: "";
  display: block;
  width: 360px;
  height: 6px;
  background: var(--primarygreen);
  position: absolute;
  top: 105%;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%, -1px);
}

.sub-heading {
  color: var(--darkblue);
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin: 2rem 0;
}

.secondary-heading {
  color: var(--primarygreen);
  font-weight: 700;
  position: relative;
  padding-left: 1rem;
  margin-top: 1rem;
}

.secondary-heading:before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: var(--primarygreen);
  position: absolute;
  left: 0.2%;
  top: 20%;
  border-radius: 20px;
}

.max-width {
  width: 85%;
  margin: 0 auto;
}
.flex-horizontal {
  display: flex;
  justify-content: space-between;
}
.flex-img-content {
  display: flex;
  justify-content: space-between;
}

.flex-horizontal-spacearound {
  display: flex;
  flex-direction: row;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.center-item {
  text-align: center;
}

.align-item {
  display: flex;
  align-items: center;
}

.paragraph-css {
  text-align: justify;
  margin-right: 2rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
  line-height: 30px;
  font-family: var(--font-family);
}

.reveal {
  position: relative;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.75s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.general_cards_design {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.common-heading {
  font-weight: 600;
  font-size: 3rem;
  padding-top: 1rem;
  text-align: center;
  font-family: "Bitter", serif;
  text-transform: capitalize;
  word-spacing: 5px;
  margin-bottom: 50px;
  color: var(--darkblue);
}

.cards-flex {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
