@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    /* font-family: 'Archivo', sans-serif; */
    font-family: 'Source Sans 3', sans-serif;
}
#root{
    --font-family: 'Archivo', sans-serif;
    --darkblue:#253745;
    --primarygreen:#32C36C;
    --primary-bg:#F6F7F8;
    --grey:#838386;
}

