.pro-heading {
  padding-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--darkblue);
  position: relative;
}

.pro-heading:after {
  content: "";
  display: block;
  width: 110px;
  height: 6px;
  background: var(--primarygreen);
  position: absolute;
  top: 85%;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%, -1px);
}

.pro-paragraph-css {
  text-align: justify;
  margin-right: 2rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
  line-height: 30px;
  font-family: "Josefin Sans", sans-serif;
}

.col-6 {
  max-width: 50%;
}

.list-sec {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 25vw;
}

.ezess-row {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  padding: 10px;
  height: 40vh;
}

.mb-0 {
  margin: 10px;
}

.battery-sec {
  display: flex;
  margin: 10px;
  border-bottom: 1px dashed var(--darkblue);
}

.list {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 25vw;
  margin: 10px;
  justify-content: center;
}

.img {
  height: 40px;
  width: 40px;
  background: #58aa97;
}

.feature-heading {
  display: flex;
  align-items: center;
  font-weight: bolder;
  margin: 10px;
  font-size: 20px;
  color: var(--darkblue);
}
