.footer-bg{
    background-color: #1a2a36;
    color:white;
    text-align: justify;
   
}
.container{
   max-width: 1320px;
}

.footer-title{
    margin: 2vw 0 1vw ;
    position: relative;
}

.footer-title:after {
    content: "";
    display: block;
    width: 101px;
    height: 2px;
    background: var(--primarygreen);
    position: absolute;
    top: 104%;
    border-radius: 20px;
    left: 17%;
    transform: translate(-50%, -1px);
}

.footer-content{
font-size:14px;
text-align: justify ;
padding-left: 0;
}
ul li{
    margin: 0 0 10px 0;
}

ul li a{
    text-decoration: none;
    color: #929ba2;
    font-size: 15px;
    
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 0;
}
ul li a:hover{
color:var(--primarygreen);
}

.end-footer{
background-color: #1a2a36;
color: white !important;
padding: 1vw;
text-align: center;
}

.social-icon{
    margin-left:0.5rem ;
}




